*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
config.properties
*.log
config.properties
*.log
./gradle/libs.versions.toml
.idea/.name
.idea/other.xml
.idea/misc.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
.idea/shelf/
.idea/misc.xml
.idea/deploymentTargetSelector.xml